$bp-mobile: 23.4375rem;
$bp-tablet: 48rem;
$bp-desktop: 90rem;

$breakpoints: (
  "prefix": "bp",
  "values": (
    "mobile": $bp-mobile,
    "tablet": $bp-tablet,
    "desktop": $bp-desktop,
  ),
);
