$clr-green: hsl(157, 74%, 62%);
$clr-blue-950: hsl(224, 35%, 11%);
$clr-blue-900: hsl(225, 26%, 23%);
$clr-blue-600: hsl(225, 21%, 45%);
$clr-blue-300: hsl(225, 40%, 83%);
$clr-white: hsl(0, 0%, 100%);
$clr-red: hsl(0, 96%, 61%);

$colors: (
  "prefix": "clr",
  "values": (
    "green": $clr-green,
    "blue-950": $clr-blue-950,
    "blue-900": $clr-blue-900,
    "blue-600": $clr-blue-600,
    "blue-300": $clr-blue-300,
    "white": $clr-white,
    "red": $clr-red,
  ),
);
