$spc-1300: 6.5rem;
$spc-1100: 5.5rem;
$spc-1000: 5rem;
$spc-800: 4rem;
$spc-700: 3.5rem;
$spc-500: 2.5rem;
$spc-400: 2rem;
$spc-300: 1.5rem;
$spc-200: 1rem;
$spc-100: 0.5rem;
$spc-50: 0.25rem;

$spacings: (
  "prefix": "spc",
  "values": (
    1300: $spc-1300,
    1100: $spc-1100,
    1000: $spc-1000,
    800: $spc-800,
    700: $spc-700,
    500: $spc-500,
    400: $spc-400,
    300: $spc-300,
    200: $spc-200,
    100: $spc-100,
    50: $spc-50,
  ),
);
